body
{
  margin: auto;
}

a
{
  text-decoration: none;
  color: white;
}

/* HEADER */

header
{
  position: relative;
}

.facebook
{
  position: absolute;
  z-index: 10;
}

.facebook img
{
  width: 30px;
  padding: 10px;
}

.menu {
  z-index: 2;
  position: absolute;
  text-align: center;
  width: 100%;
  margin: auto;
  color: white;
  background-color: #980000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: 'Mukta Malar', sans-serif;
  opacity: 0.8;
  cursor: pointer;
}

.menu li {
  display: inline-block;
  padding: 0em 2em;
}

.menu li a {
  text-decoration: none;
}

.menu li a:hover {
  color: black;
} 

.ardoise
{
  position: absolute;
  top: -40%;
}

.intro
{
 display: flex;
  align-items: center;
  justify-content: center;
}

.logo
{
  position: absolute;
  margin: auto 0;
  top: 35%;
  left: 15%;
  text-align: center;
}

.logo img
{
  width: 70%;
}

.informations
{
  position: absolute;
  margin: auto 0;
  text-align: center;
  top: 100%;
  width: 50%;
  color: #ffffff;
  font-size: 17px;
  font-family: 'Mukta Malar', sans-serif;
}

/* BOUCHERIE */

.categories
{
  width: 100%;
  margin: auto;
  margin-top: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boucherie
{
  display: inline-block;
  font-family: 'Avenir', sans-serif;
  padding: 20px;
}

.boucherie img 
{
  width: 10em;
  border-radius: 50%;
  filter: drop-shadow(12px 15px 10px #000);
}

.boucherie:hover
{
  filter: grayscale(1);
}


.traiteur
{
  display: inline-block;
  font-family: 'Avenir', sans-serif; 
  padding: 20px;
}

.traiteur img 
{
  width: 10.5em;
  border-radius: 50%;
  filter: drop-shadow(12px 15px 10px #000);
}

.traiteur:hover
{
  filter: grayscale(1);
}

.plats
{
  display: inline-block;
  font-family: 'Avenir', sans-serif;
  padding: 20px;
}

.plats img 
{
  width: 10.5em;
  border-radius: 50%;
  filter: drop-shadow(12px 15px 10px #000);
}

.plats:hover
{
  filter: grayscale(1);
}

.emporter
{
  display: inline-block;
  font-family: 'Avenir', sans-serif;
  padding: 20px;
}

.emporter img 
{
  width: 10.5em;
  border-radius: 50%;
  filter: drop-shadow(12px 15px 10px #000);
}

.emporter:hover
{
  filter: grayscale(1);
}

.rotisserie
{
  display: inline-block;
  font-family: 'Avenir', sans-serif;
  padding: 20px;
}

.rotisserie img 
{
  width: 10.5em;
  border-radius: 50%;
  filter: drop-shadow(12px 15px 10px #000);
}

.rotisserie:hover
{
  filter: grayscale(1);
}


/* CONTAINER */

.container
{
  position: relative;
}

.horaires
{
  position: absolute;
  display: inline-block;
  left: 17%;
  font-family: 'Avenir', sans-serif;
}

.adresse
{
  position: absolute;
  display: inline-block;
  left: 60%;
  font-family: 'Avenir', sans-serif;
}

.resume
{ 
  padding-top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Avenir', sans-serif;
  font-weight: 600;
  font-size: 19px;
}

.vitrine
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.vitrine img
{
  width: 70%;
  margin-bottom: 3%;
}

.valeurs
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.valeurs h2
{
  padding: 20px;
  color: #980000;
  font-family: 'Avenir', sans-serif;
}

.gerants
{
  position: absolute;
  display: inline-block;
  left: 15%;
  margin-top: 3%;
  width: 70%;
  height: 250px;
  background-color: #980000;
  z-index: 1;
}

.gerants img
{
  width: 40%;
}

.description
{
  position: absolute;
  width: 30em;
  margin-top: 3%;
  left: 45%;
  color: #ffffff;
  font-family: 'Avenir', sans-serif;
  z-index: 2;
}

.description h2
{
  padding-bottom: 1em;
}

.haut
{
  position: fixed;
  padding: 20px;
  z-index: 200;
  top: 60%;
}

.haut img
{
  width: 30px;
}

.haut a
{
  color: #000000;
}

/* FOOTER  */ 

.footer
{
  position: relative;
  top: 23em;
  color: white;
  display: block;
}

.sommaire
{
  position: absolute;
  display: inline-block;
  padding: 20px;
}

.sommaire p
{
  display: inline-block;
  font-family: 'Arial';
  padding-bottom: 2em;
  font-size: 20px;
  padding-right: 4em;
}

.sommaire a
{
    display: inline-block;
  padding: 20px;
}

.partenaires
{
  position: absolute;
  display: inline-block;
  left: 80%;
}

.partenaires img
{
  width: 5em;
  margin: 20px;
}

.by
{
  position: absolute;
  font-family: 'Arial';
  font-size: 13px;
  top: 7em;
  left: 1.5em;
}


/* BOUCHERIE-CHARCUTERIE */


@keyframes slidy 
{
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}


figure img
{
  width: 100%;
}

div#slider
{ 
  overflow: hidden; 
    z-index:1;
}

div#slider figure img 
{ 
  width: 20%;
  float: left; 
}

div#slider figure 
{ 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite; 
}

.titre 
{
  position: absolute;
  top: -10px;
  left: 53%;
  margin-top: 20em;
  color: #ffffff;
  z-index:2;
  font-family: 'Avenir', sans-serif;
  font-size: 20px;
}

.numero
{
  visibility: hidden;
  position: absolute;
}

/* RESPONSIVE */ 

@media (max-width: 700px) {
  .menuHorizontal a
  {
    display: none;
  }
  .numero
  {
    visibility: visible;
    left: 25%;
    font-size: 25px;
    margin-top: -7px;
  }
  .logo
  {
    margin-left: -22%;
    margin-top: -22px;
  }
  .informations
  {
    visibility: hidden;
  }
  .categories
  {
    margin-left: -50%;
    margin-top: -30px;
    padding: 30px;
  }
  .boucherie
  {
    margin-left: 500px;
    margin-top: -300px;
  }
  .boucherie img
  {
    width: 6em;
  }
  .traiteur
  {
    margin-top: -300px;
  }
  .traiteur img
  {
    width: 6em;
  }
  .plats
  {
    margin-top: -100px;
    margin-left: -270px;
  }
  .plats img
  {
    width: 6em;
  }
  .emporter
  {
    margin-top: -100px;
  }
  .emporter img
  {
    width: 6em;
  }
  .rotisserie
  {
    visibility: hidden;
  }
  .horaires
  {
    color: white;
    position: absolute;
    margin-top: -80px;
    font-size: 10px;
  }
  .resume
  {
    font-size: 12px;
    text-align: center;
    margin-top: -50px;
  }
  .vitrine img
  {
    width: 100%;
  }
  .valeurs
  {
    font-size: 10px;
    text-align: center;
  }
  .valeurs h2
  {
    padding: 10px;
  }
  .gerants
  {
    width: 100%;
    margin-left: -53px;
  }
  .gerants img
  {
visibility: hidden;
  }
  .description
  {
visibility: hidden;
  }
  .adresse
  {
    color: white;
    margin-top: 95%;
    margin-left: -190px;
    z-index: 20;
    width: 100%;
  }
  .footer
  {
    margin-top: -20%;
  }
  .sommaire
  {
    width: 500px;
  }
  .liens
{
  margin-left: -200px;
  position: absolute;
}
.partenaires
{
  left: 15%;
  margin-top:30%;
}
.haut
{
  visibility: hidden;
}
}

@media (max-width: 500px) {
  .menuHorizontal{
  visibility: hidden;
  }
}


